@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Kaushan+Script&family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2d2b2b;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    text-shadow: #2d2b2b;
    color: #fff;
    padding: 2rem 0;
}

.card {
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
}

.card h2,
h4 {
    text-align: center;
    color: #1f1d1d;
}

.card h2 {
    padding: 1rem 0;
    font-size: 1rem;
}

.card h4 {
    font-weight: 600;
    font-size: 1.5rem;
}

.card p {
    text-align: right;
    color: #1f1d1d;
}

.generate {
    display: block;
    margin: 1rem auto;
    background-image: linear-gradient(50deg, aqua, aquamarine);
    padding: .8rem;
    width: 180px;
    border-radius: 7px;
    border: 0;
    font-weight: 600;
}